#Puppet db settings
puppetdb::user: "puppetdb_user"
puppetdb::password: "%{hiera('trocla_lookup::plain::puppetdb_password')}"
puppetdb::database: "puppetdb_database"

#Users that should exists everywhere
users:
  example_user:
    realname: 'example'
    uid: 1000
    groups: ['admins']
    password: 'encoded_password'
    shell: '/bin/bash'
    sshkey: 'ssh public key'
    sshkeytype: 'ssh key type'

#postfix settings
smarthost: "mail.example.com"
default_mail: "admin@example.com"

#nameservers
resolvconf::nameservers:
 - 8.8.8.8
 - 8.8.4.4
resolvconf::domain: "%{::domain}"
resolvconf::search:
 - "%{hiera('resolvconf::domain')}"
 - example.com
